extends ../templates/page
include ../templates/sidebar
include ../templates/button
include ../templates/catalog-layout
include ../templates/sort-block

block title
  |Каталог Таблица

block content
  .container
    .row
      .d-none.d-lg-block.col-3
        +sidebar({separateLink: true, itemsAmount: 12})
      .col-12.col-lg-9
        include ../components/breadcrumbs
        main.main
          h1.section__heading Каталог
          +sort-block()
          hr.separator
          +catalog-layout({type: 'table'})

          include ../components/site-pagination
          hr.separator
          include ../components/seened-items
          hr.separator
          include ../components/seo-block
          include ../components/quick-view
