extends ../templates/page
include ../templates/sidebar
include ../templates/button
include ../templates/catalog-layout
include ../templates/tags
include ../templates/sort-block

block title
  |Раздел каталога
block content
  main.main.main_catalog-section
    .container
      .row
        .d-none.d-lg-block.col-3
          +sidebar({separateLink: true, itemsAmount: 12})
          include ../components/catalog-filter
        .col-12.col-lg-9
          include ../components/breadcrumbs
          h1.section__heading Коллекции посуды
          +tags({amount: 14, showMoreButton: true})
          +sort-block({filter: true})
          hr.separator
          +catalog-layout()
          .row
            .col-12
              include ../components/site-pagination
              hr.separator
              include ../components/seened-items
              hr.separator
              include ../components/seo-block
