extends ../templates/page
include ../templates/sidebar
include ../templates/sort-block
include ../templates/catalog-layout

block title
  |Полезные документы
block content
  .container
    .row
      .d-none.d-lg-block.col-3
        +sidebar({separateLink: false, itemsAmount: 10})
      .col-12.col-lg-9
        include ../components/breadcrumbs
        main.main
          h1.section__heading Полезные документы
          .row
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item
            .col-12.col-sm-6.col-lg-4.col-xxl-3
              include ../components/download-item

            .col-12
              include ../components/site-pagination
