extends ../templates/page

block title
  |Скачать

block content
  .container
    .row
      .col-12
        include ../components/breadcrumbs
        main.main
          h1.section__heading Скачать
          .row
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item
            .col-12.col-sm-6.col-md-4.col-lg-3
              include ../components/download-item



            .col-12
              include ../components/site-pagination
