extends ../templates/page
include ../templates/news-post

block title
  |Вопрос-ответ

block content
  .container
    .row
      .col-12
        include ../components/breadcrumbs
        main.main.main_no-gap
          h1.section__heading Вопрос-ответ
          .row
            include ../components/faq-list
  include ../components/ask-banner
