extends ../templates/page
block title
  |Главная страница

block content
  include ../components/hero-swiper.pug
  include ../components/news.pug
  include ../components/subscription-form.pug
  include ../components/benefits.pug
  include ../components/personal-offer.pug
