extends ../templates/page
include ../templates/subscription-form.pug

block title
  |Главная страница

block content
  main.main.main_index
    include ../components/hero-swiper.pug
    include ../components/product-types.pug
    include ../components/new-arrivals.pug
    include ../components/news.pug
    +subscription-form()
    include ../components/benefits.pug
    include ../components/personal-offer.pug
    include ../components/quick-view
