extends ../templates/page
include ../templates/sidebar
include ../templates/sort-block
include ../templates/catalog-layout

block title
  |Мои данные
block content
  .container
    .row
      .d-none.d-lg-block.col-3
        +sidebar({separateLink: false, itemsAmount: 10})
      .col-12.col-lg-9
        include ../components/breadcrumbs
        main.main
          h1.section__heading Мои данные
          .row
            .col-12
              include ../components/my-data-form
