extends ../templates/page
include ../templates/sidebar

block title
  |История заказов
block content
  .container
    .row
      .d-none.d-lg-block.col-3
        +sidebar({separateLink: false, itemsAmount: 10})
      .col-12.col-lg-9
        include ../components/breadcrumbs
        main.main
          h1.section__heading История заказов
          .row
            .col-12
              include ../components/orders-list
              include ../components/site-pagination
