extends ../templates/page
include ../templates/tags
include ../templates/price
include ../templates/button
include ../templates/banner

block title
  |Товар

block content
  main.main.main_product
    .container
      .row
        .col-12
          include ../components/breadcrumbs
        .col-12
          include ../components/item-card
          hr.separator
        .col-12
          span.section__description Описание
          p.styled-paragraph Разделочная доска из бамбука:
          ul.styled-list
            li.styled-list__item не расслаивается и не деформируется
            li.styled-list__item выдерживает механические нагрузки, долговечна в использовании
            li.styled-list__item не впитывает запахи
            li.styled-list__item не изменяет вкусовые качества и цвет пищи
            li.styled-list__item не боится влаги, легко моется
            li.styled-list__item не тупит кухонные ножи
            li.styled-list__item имеет оптимальную толщину 1,5 см
          p.styled-paragraph Каждая кухонная доска GreenTOP покрыта двойным слоем специальной пропитки, предназначенной для использования на посуде и предметах, соприкасающихся с пищей. Пропитка придает изделию гладкость и усиливает водоотталкивающие и антибактериальные свойства древесины.

          hr.separator#characteristics
        .col-12
          span.section__description Подробные характеристики
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12
          hr.separator
        .col-12
          span.section__description Из этой серии
          include ../components/items-swiper
          hr.separator
        .col-12
          span.section__description С этим товаром покупают
          include ../components/items-swiper
          hr.separator
        .col-12
          +banner
        .col-12
          span.section__description Отзывы
          include ../components/reviews-swiper
          hr.separator
        .col-12
          span.section__description Вы смотрели
          include ../components/items-swiper
        include ../components/quick-view
