extends ../templates/page
include ../templates/tags
include ../templates/price
include ../templates/button
include ../templates/banner

block title
  |Товар

block content
  main.main.main_product
    .container
      .row
        .col-12
          include ../components/breadcrumbs
        .col-12
          include ../components/item-card
          hr.separator
        .col-12
          span.section__description Описание
          include ../components/product-description
          hr.separator#characteristics
        .col-12
          span.section__description Подробные характеристики
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12.col-md-6.col-lg-4
          span.item-characteristics__heading Блок характеристик
          include ../components/item-characteristics
        .col-12
          hr.separator
        .col-12
          span.section__description Из этой серии
          include ../components/items-swiper
          hr.separator
        .col-12
          span.section__description С этим товаром покупают
          include ../components/items-swiper
          hr.separator
        .col-12
          +banner
        .col-12
          span.section__description Отзывы
          include ../components/reviews-swiper
          hr.separator
        .col-12
          span.section__description Вы смотрели
          include ../components/items-swiper
        include ../components/quick-view
