extends ../templates/page
include ../templates/tags
include ../templates/series-item

block title
  |Серии

block content
  main.main.main_series
    .container
      .row
        .col-12
          include ../components/breadcrumbs
          h1.section__heading Серии
          +tags({amount: 14})

        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()
        .col-12.col-sm-6.col-md-4.col-xxl-3
          +series-item()

        .col-12
          include ../components/site-pagination
          hr.separator
          include ../components/seo-block
