extends ../templates/page
include ../templates/news-post
include ../templates/button
include ../templates/sidebar
include ../templates/subscription-form
include ../templates/catalog-layout

block title
  |Новость

block content
  .page_single-news
    .container
      .row
        .col-12
          include ../components/breadcrumbs
        .col-12.col-lg-9
          main.main
            h1.section__heading Лето — пора пикников и активного отдыха
            .row
              .col-12
                include ../components/single-news-header

                .page_text
                  p.
                    Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого

                  include ../components/photo-swiper
                  include ../components/photo-gallery

                  p.
                    Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого

                hr.separator

                +catalog-layout({banner: false, itemsCount: 8})

                include ../components/article-footer


        .d-none.d-lg-block.col-12.col-lg-3
          sidebar.sidebar
            span.sidebar__heading К другим новостям
            .row
              .col-4.col-lg-12
                +news-post()
              .col-4.col-lg-12
                +news-post()
              .col-4.col-lg-12
                +news-post()

          +subscription-form({sidebar: true})

    +subscription-form({otherClasses: 'd-lg-none', sidebar: true})
