extends ../templates/page
include ../templates/button
include ../templates/news-post
include ../templates/catalog-item.pug

block title
  |Текстовая страница

block content
  .container
    .row
      .col-12
        include ../components/breadcrumbs.pug
      .col-12.col-lg-9
        main.main
          .page_text
            h1 Как правильно мыть посуду в посудомоечной машине

            figure.image-right
              img(src="assets/img/sample-image-1-630.jpg", alt="изображение для статьи" data-object-fit="cover")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту

            span.news-post__date 14 мая

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nostrum. Ex saepe voluptatibus quibusdam. Temporibus, animi! Facere qui obcaecati earum animi voluptate, fugiat provident quaerat hic, illo, unde a aliquid.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique voluptatibus modi aut! Consectetur, ducimus! Quasi cupiditate quod culpa nam eligendi? Neque optio odio, placeat ullam debitis labore beatae totam.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae nesciunt sit, cumque illo quia unde voluptates omnis incidunt porro iste minima deserunt ullam laudantium reiciendis culpa hic, id distinctio.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nostrum. Ex saepe voluptatibus quibusdam. Temporibus, animi! Facere qui obcaecati earum animi voluptate, fugiat provident quaerat hic, illo, unde a aliquid.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique voluptatibus modi aut! Consectetur, ducimus! Quasi cupiditate quod culpa nam eligendi? Neque optio odio, placeat ullam debitis labore beatae totam.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae nesciunt sit, cumque illo quia unde voluptates omnis incidunt porro iste minima deserunt ullam laudantium reiciendis culpa hic, id distinctio.

            h2 Заголовок второго уровня

            figure.image-left
              img(src="assets/img/sample-image-1-630.jpg", alt="изображение для статьи" data-object-fit="cover")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту

            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nostrum. Ex saepe voluptatibus quibusdam. Temporibus, animi! Facere qui obcaecati earum animi voluptate, fugiat provident quaerat hic, illo, unde a aliquid.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique voluptatibus modi aut! Consectetur, ducimus! Quasi cupiditate quod culpa nam eligendi? Neque optio odio, placeat ullam debitis labore beatae totam.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae nesciunt sit, cumque illo quia unde voluptates omnis incidunt porro iste minima deserunt ullam laudantium reiciendis culpa hic, id distinctio.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nostrum. Ex saepe voluptatibus quibusdam. Temporibus, animi! Facere qui obcaecati earum animi voluptate, fugiat provident quaerat hic, illo, unde a aliquid.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt similique voluptatibus modi aut! Consectetur, ducimus! Quasi cupiditate quod culpa nam eligendi? Neque optio odio, placeat ullam debitis labore beatae totam.
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat repudiandae nesciunt sit, cumque illo quia unde voluptates omnis incidunt porro iste minima deserunt ullam laudantium reiciendis culpa hic, id distinctio.

            figure.image-big
              img(src="assets/img/hero-swiper-slide-1343.jpg", alt="изображение для статьи" data-object-fit="cover")
              figcaption Очень, очень, очень длинная подпись фотографии в две или три строчки похожая на эту

            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur, rerum ex! Expedita dicta doloribus nemo perspiciatis, quos molestias rem necessitatibus labore neque maxime suscipit, autem commodi, obcaecati sit odit iusto?Natus obcaecati ex temporibus aliquid similique sed, earum labore harum, quas cumque quisquam quam! Blanditiis consequatur necessitatibus tenetur illum ducimus fugiat molestiae temporibus sed, modi deleniti dolor, unde accusantium autem!

            h3 Список нумерованный
            ol
              li Пункт 1
              li Пункт 2
              li Пункт 3
              li Пункт 4
              li Пункт 5
              li Пункт 6
              li Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи

            h3 Список маркированный
            ul
              li Пункт 1
              li Пункт 2
              li Пункт 3
              li Пункт 4
              li Пункт 5
              li Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи

            blockquote
              p Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого.
              cite Дмитрий Новожилов

            .responsive-table
              table
                tr
                  th Название
                  th Название
                  th Название
                  th Название
                tr
                  td Пункт
                  td Пункт
                  td Пункт
                  td Пункт
                tr
                  td 01.03.17
                  td 325 355,40
                  td
                    a(href="#") 235333 от 01.01.18
                  td
                    a(href="#") 235333 от 01.01.18
                tr
                  td 01.03.17
                  td 325 355,40
                  td
                    a(href="#") 235333 от 01.01.18
                  td
                    a(href="#") 235333 от 01.01.18
                tr
                  td Пункт
                  td Пункт
                  td Пункт
                  td Пункт

            h2 Фотогалерея

            include ../components/photo-swiper

            include ../components/photo-gallery

            include ../components/article-footer

      .d-none.d-md-block.col-12.col-lg-3
        sidebar.sidebar
          span.sidebar__heading Читайте также
          .row
            .col-4.col-lg-12
              +news-post()
            .col-4.col-lg-12
              +news-post()
            .col-4.col-lg-12
              +news-post()
