.basket {
  &__link {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    text-decoration: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid $gray-400;
    border-radius: 50%;
    color: $gray-700;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__items-counter {
    position: absolute;
    bottom: 2px;
    left: 35px;
    display: block;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    background-color: $red-200;
    border-radius: 10px;
    color: $white;
    font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    transform: translateX(-50%);
  }

  &__text {
    margin-left: 20px;
  }

  &__amount {
    color: $gray-700;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
  }

  &__description {
    display: block;
    margin-top: 5px;
    color: $gray-600;
    font-size: 13px;
  }

  &__link:hover,
  &__link:focus {
    .basket__items-counter {
      box-shadow: 0.5px 2px 5px 0 rgba($red-200, 0.5);
    }
  }
}

@media screen and (max-width: 1199px) {
  .basket {
    margin-right: 6px;
    &__button {
      border-color: transparent;
    }

    &__text {
      display: none;
    }

    &__link:hover,
    &__link:focus {
      .basket__icon {
        opacity: 0.7;
      }
    }
  }
}
