.breadcrumbs {
  margin-top: 20px;
  margin-bottom: 30px;

  &__item {
    display: inline-block;
    color: $gray-700;
    font-weight: 900;

    &:not(:last-child) {
      margin-right: 0.8em;

      &::after {
        content: '>';
        display: inline-block;
        margin-left: 0.8em;
        color: $gray-600;
        font-weight: normal;
      }
    }
  }

  &__link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $gray-600;
    font-weight: normal;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
