.button {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 28px;
  background-color: $white;
  color: $gray-700;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;

  &__icon {
    display: block;
    width: 1.6em;
    height: 1.6em;
  }

  &:hover,
  &:focus {
    box-shadow: 2px 10px 20px 0 rgba($black, 0.1);
  }

  &_red {
    color: $white;
    background-color: $red-300;

    &:hover,
    &:focus {
      box-shadow: 1.5px 5px 10px 0 rgba($red-200, 0.3);
    }
  }

  &_gray {
    background-color: $gray-400;
  }

  &_brown {
    color: $white;
    background-color: $brown-500;

    &:hover,
    &:focus {
      box-shadow: 1.5px 5px 10px 0 rgba($brown-500, 0.3);
    }
  }

  &_no-bg {
    background-color: transparent;
  }

  &_opacity_09 {
    opacity: 0.9;

    .button__icon {
      color: $gray-600;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  &_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
  }

  &_small {
    height: 40px;
    border-radius: 20px;
    font-size: 10px;

    &.button_circle {
      width: 40px;
    }

    &.button_half {
      width: 20px;
    }
  }

  &_extra-small {
    height: 32px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;

    &.button_circle {
      width: 32px;
    }

    .button__icon {
      width: 1.2em;
      height: 1.2em;
    }

    &.button_half {
      width: 16px;
    }
  }

  &_half {
    width: 28px;
    padding: 0;
  }

  &_half_left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &_half_right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_icon_left {
    .button__icon {
      margin-right: 0.6em;
    }
  }

  &_icon_right {
    .button__icon {
      margin-left: 0.6em;
    }
  }

  &_underlined {
    width: 30px;
    height: 23px;
    border-bottom: 1px solid $gray-400;
    border-radius: 0;

    &:hover,
    &:focus {
      border-color: $gray-500;
      box-shadow: none;
    }
  }

  &_icon_bg_lighter {
    svg {
      border-radius: 50%;
      background-color: rgba($white, 0.2);
    }
  }

  &_icon_bg_red {
    svg {
      border-radius: 50%;
      background-color: $red-200;
      color: $white;
    }
  }

  &_heart {
    color: $gray-700;

    .button__icon {
      width: 2em;
      height: 2em;
    }

    &_clicked {
      background-image: url("../assets/icons/heart-filled.svg");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;

      .button__icon {
        display: none;
      }
    }

    &:hover,
    &:focus {
      box-shadow: none;
      color: $red-200;
    }
  }
}

@media screen and (max-width: 575px) {
  .button {
    max-width: 290px;
  }
}
