.catalog-layout__item {
  display: flex;
  flex-direction: column;

  .catalog-item {
    flex-grow: 1;
  }

  &_full-width {
    width: calc((100% - 30px * 5) / 5);
    margin-right: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}

@for $i from 1 through 8 {
  .catalog-layout__item:nth-of-type(#{$i}) {
    order: #{$i};
  }
}

.catalog-layout__item:nth-of-type(n + 9) {
  order: 9;
}

.catalog-layout__banner[data-order='1'] {
  order: 4;
}

.catalog-layout__banner[data-order='2'] {
  order: 8;
}

@media screen and (max-width: 1343px) {
  .catalog-layout__banner[data-order='1'] {
    order: 3;
  }

  .catalog-layout__banner[data-order='2'] {
    order: 6;
  }
}

@media screen and (max-width: 1343px) {
  .catalog-layout__item {
    &_full-width {
      width: calc((100% - 30px * 4) / 4);
    }
  }
}

@media screen and (max-width: 991px) {
  .catalog-layout__item {
    &_full-width {
      width: calc((100% - 30px * 3) / 3);
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog-layout__item {
    &_full-width {
      width: calc((100% - 30px * 2) / 2);
    }
  }

  .catalog-layout__banner[data-order='1'] {
    order: 2;
  }

  .catalog-layout__banner[data-order='2'] {
    order: 4;
  }
}

@media screen and (max-width: 575px) {
  .catalog-layout__item {
    &_full-width {
      width: calc(100% - 30px);
    }
  }
}
