.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid $gray-400;
  text-decoration: none;

  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  &__swiper {
    position: relative;
    // width: 100%;
    margin-bottom: 20px;
    overflow-x: hidden;
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }

  &__image-wrapper {
    position: relative;
    padding-top: 66.6666%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
  }

  &__stickers {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 40px;
    z-index: 2;

    .sticker {
      margin-bottom: 5px;

      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  .rating {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__name {
    display: block;
    min-height: 75px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    color: $gray-700;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  &__small-text {
    color: $gray-600;
    font-size: 13px;
  }

  &__type {
    display: inline-block;
    width: calc(50% - 20px);
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: 20px;
    text-align: left;
  }

  &__code {
    display: inline-block;
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 18px;
    text-align: right;
  }

  .price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding-right: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
    text-align: center;

    &__value {
      &:only-child {
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__checkout {
    display: flex;
  }

  .items-counter {
    max-width: calc(100% - 100px);
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .input-field_underlined {
    max-width: 42%;
  }

  .buy-button {
    margin-right: 20px;
    margin-left: auto;

    &_clicked {
      .button__icon {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45%;
        height: 2px;
        background-color: $gray-700;
        transform: rotate(45deg) translate(-50%, -50%);
        transform-origin: 0 0;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 45%;
        height: 2px;
        background-color: $gray-700;
        transform: rotate(-45deg) translate(-50%, -50%);
        transform-origin: 0 0;
      }
    }
  }

  &__quick-view {
    display: none;
    position: absolute;
    top: 78px;
    left: 50%;
    max-width: none;
    min-width: 182px;
    width: auto;
    transform: translate(-50%, -50%);
    z-index: 2;

    .button__text {
      white-space: nowrap;
    }
  }

  &__more {
    width: 140px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }

  .button_heart {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &:hover {
    box-shadow: 2px 10px 16px 0px rgba($black, 0.1);

    & > .catalog-item__quick-view {
      display: flex;
    }

    .button_heart {
      display: flex;
    }
  }

  &_table {
    display: grid;
    // grid-template-columns: 1fr 30px 2fr 30px 1fr;
    grid-template-columns: calc((100% - 30px * 2) / 4) 30px calc((100% - 30px * 2) / 2) 30px calc((100% - 30px * 2) / 4);
    grid-template-rows: 48px 48px 48px 1fr;
    padding: 30px;

    .catalog-item__link {
      grid-column: 1 / 2;
      grid-row: 1 / 5;
    }

    .catalog-item__image-wrapper {
      margin-bottom: 0;
    }

    .catalog-item__name {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      min-height: auto;
      margin: 0;
      text-align: left;
      text-decoration: none;
    }

    .item-characteristics {
      grid-column: 3 / 4;
      grid-row: 2 / 5;
    }

    .catalog-item__stickers {
      position: absolute;
      top: 30px;
      right: 75%;
      left: 30px;
    }

    .catalog-item__group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      margin-bottom: 25px;
    }

    .rating {
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }

    .catalog-item__code {
      flex-shrink: 0;
      margin: 0;

      &:only-child {
        margin-left: auto;
      }
    }

    .price {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
      margin: 0 0 25px 0;
      padding: 0;
    }

    .catalog-item__checkout {
      grid-column: 5 / 6;
      grid-row: 3 / 4;
    }

    .items-counter {
      max-width: calc(100% - 60px);
      margin: 0 20px 0 0;
      padding: 0;
    }

    .catalog-item__buy {
      margin: 0;
    }

    .button_heart {
      top: 30px;
      left: 30px;
    }

    .catalog-item__quick-view {
      top: 105px;
      left: calc(12.5% + 15px);
    }

    .catalog-item__more {
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }
  }
}

@media screen and (max-width: 1343px) {
  .catalog-item {
    &_table {
      .catalog-item__code {
        width: calc(50% - 12px);
      }

      .catalog-item__quick-view {
        top: 90px;
        min-width: unset;
        letter-spacing: 0;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .catalog-item {
    &_table {
      // grid-template-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: calc((100% - 20px * 2) / 3) 20px calc((100% - 20px * 2) / 3) 20px calc((100% - 20px * 2) / 3);
      grid-template-rows: 48px 48px 48px;
      padding: 20px;

      .catalog-item__name {
        grid-row: 1 / 4;
      }

      .item-characteristics {
        display: none;
      }

      .catalog-item__stickers {
        top: 20px;
        right: 67.5%;
        left: 20px;
      }

      .price__value:only-child {
        margin-right: 0;
        margin-left: 0;
      }

      .catalog-item__quick-view {
        top: 85px;
        left: 18%;
      }

      .button_heart {
        top: 20px;
        left: 20px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .catalog-item {
    &:hover {
      .catalog-item__quick-view {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .catalog-item_table {
    // grid-template-columns: 1fr 20px 1fr;
    grid-template-columns: calc((100% - 20px) / 2) 20px calc((100% - 20px) / 2);
    grid-template-rows: 1fr 48px 48px 48px;

    .catalog-item__link {
      grid-row: 1 / 2;
      margin-bottom: 20px;
    }

    .catalog-item__group {
      grid-column: 3 / 4;
      align-self: baseline;
      flex-direction: row
    }

    .catalog-item__code {
      width: auto;
    }

    .catalog-item__name {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      text-align: center;
    }

    .item-characteristics {
      display: none;
    }

    .price {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      flex-direction: row;
      justify-content: space-around;
    }

    .catalog-item__checkout {
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      flex-direction: row;
    }

    .items-counter {
      max-width: calc(100% - 60px);
      width: 100%;
    }

    .buy-button {
      margin-left: auto;
    }

    .catalog-item__stickers {
      top: 70px;
      right: 20px;
      left: calc(50% + 10px);
      padding-left: 0;
    }

    .catalog-item__quick-view {
      left: calc(25% + 10px);
    }

    .catalog-item__more {
      grid-column: 1 / 4;
      grid-row: 3 / 5;
    }
  }
}

@media screen and (max-width: 575px) {
  .catalog-item_table {
    grid-template-rows: 1fr 70px 48px 48px;
    padding: 20px 10px;

    .catalog-item__link {
      margin-bottom: 35px;
    }

    .catalog-item__group {
      flex-direction: column;
      align-items: flex-end;
    }

    .rating {
      justify-content: flex-start;
    }

    .catalog-item__stickers {
      right: 10px;
    }

    .button_heart {
      left: 10px;
    }

    &:hover {
      .catalog-item__quick-view {
        display: none;
      }
    }
  }
}

@media (pointer:coarse) {
  .catalog-item {
    .button_heart {
      display: flex;
    }
  }
}
