.footer {
  padding-top: 70px;
  padding-bottom: 15px;
  background-color: $gray-200;

  & .separator {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  &__column {
    .footer__nav:first-child {
      margin-top: calc(1em + 20px);
    }

    & .social-links {
      margin-bottom: 20px;
    }

    & .social-links__item {
      margin-right: 5px;
    }

    & > .phone-block__phone-number {
      display: inline-block;
      margin-bottom: 15px;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;

        * {
          text-decoration: underline;
        }
      }
    }

    .phone-block__phone-number_small {
      margin-bottom: 0;
    }

    & .contacts-burger__email {
      display: block;
      margin-bottom: 20px;
      font-size: 24px;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .footer__adress {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }

  &__column-heading {
    display: block;
    margin-bottom: 1em;
    color: $gray-700;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    padding-top: 0.77em;
    padding-bottom: 0.77em;
    font-size: 14px;
    line-height: 20px;
  }

  &__link {
    color: $gray-700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-600;
    }
  }

  &__adress {
    display: block;
    color: $gray-700;
    font-size: 14px;
  }

  &__privacy {
    display: block;
    color: $gray-600;
    font-size: 14px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    color: $gray-600;
    font-size: 13px;
    line-height: 20px;
  }

  &__info-link {
    color: $gray-600;
    font-size: 13px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    & .phone-block__phone-number {
      font-size: 17px;
    }

    & .contacts-burger__email {
      font-size: 15px;
    }

    & .footer__info {
      &:first-of-type {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}
