.header {
  z-index: 10;

  &__scroll-container {
    display: flex;
    flex-direction: column;
  }

  &+.overlay {
    z-index: 9;
  }
}

.header_scrolled {
  height: 196px;
}

.header__content_scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 5px 10px 0px rgba($black, 0.1);

  .header__scroll-container {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    position: relative;
    height: 56px;

    &__content {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: 0 5px 10px 0px rgba($black, 0.1);
      z-index: 10;

      &_opened {
        bottom: auto;

        .header__scroll-container {
          max-height: 100vh;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}
