.header {
  z-index: 2;

  &__scroll-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    position: relative;
    height: 56px;

    &__content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &_opened {
        bottom: auto;

        .header__scroll-container {
          padding-top: 56px;
          max-height: 100vh;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}

body {
  background-color: teal;
}
