.item-characteristics {
  &__item {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
  }

  &__text {
    flex-shrink: 0;
    line-height: 24px;
  }

  &__separator {
    flex-basis: 1%;
    flex-grow: 2;
    min-width: 10px;
    height: 1.18em;
    margin-right: 8px;
    margin-left: 8px;
    border-bottom: 1px dotted $gray-700;
  }
}
