.items-swiper {
  position: relative;
  overflow-x: hidden;

  .swiper-wrapper {
    align-items: stretch;
  }

  &__item {
    margin-bottom: 20px;
  }

  .catalog-item {
    height: 100%;
    margin-bottom: 0;
  }

  .pagination {
    display: none;
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    background-image: none;
    transform: translateY(-50%);
    z-index: 2;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    background-image: none;
    transform: translateY(-50%);
    z-index: 2;
  }

  .swiper-button-lock {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .items-swiper {
    .pagination {
      display: flex;
      margin-top: 20px;
    }
  }
}
