.news {
  background-color: $gray-200;

  .section__heading {
    margin-bottom: 38px;
    line-height: 56px;
  }

  .button {
    display: flex;
    max-width: 220px;
    margin-bottom: 38px;
    margin-left: auto;
  }

  .news-post__description::after {
    background-color: $gray-200;
  }
}

@media screen and (max-width: 575px) {
  .news {
    .section__heading {
      line-height: 1.2;
    }

    .button {
      max-width: 290px;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}
