.order-item {
  display: flex;
  padding: 16px 30px;

  &:nth-child(odd) {
    background-color: $gray-100;
  }

  &_yellow {
    background-color: $gray-200;

    &:nth-child(n) {
      background-color: $gray-200;
    }
  }

  &__name {
    margin-right: auto;
    font-size: 17px;
    font-weight: bold;
  }

  &__price {
    flex-shrink: 0;
    margin-right: 55px;
  }

  &__link {
    margin-left: 30px;
    color: $gray-700;
    font-size: 15px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .order-item {
    flex-wrap: wrap;

    &__name {
      width: 100%;
      margin-bottom: 10px;
      font-size: 15px;
    }

    &__link {
      margin-right: 30px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .order-item {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;

    &_yellow {
      .order-item__name {
        display: none;
      }

      .order-item__price {
        width: 100%;
        margin-bottom: 10px;

        .order-item__name {
          display: inline;
        }
      }
    }
  }
}
