.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &__item {
    flex-shrink: 0;
    width: 9px;
    height: 9px;
    margin: 5px 10px;
    border: 3px solid $gray-400;
    border-radius: 50%;
  }

  &__item_active {
    width: 7px;
    height: 7px;
    margin: 5px 15px;
    padding: 0;
    background: $red-200;
    border: none;
    box-shadow: 0 0 0 3px white, 0 0 0 5px $red-200;
  }
}
