.personal-offer {
  padding-top: 55px;
  padding-bottom: 60px;
  background-color: desaturate($red, 40%);

  &__legend {
    margin-bottom: 35px;
  }

  &__heading {
    display: block;
    margin-bottom: 0.5em;
    color: $white;
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    display: block;
    color: $white;
    font-size: 17px;
    font-weight: 600;
  }
}
