.personal-offer {
  padding-top: 55px;
  padding-bottom: 60px;
  background: url("../assets/img/personal-offer-pattern.png") $red-300;

  &__legend {
    display: block;
    margin-bottom: 35px;
  }

  &__heading {
    display: block;
    margin-bottom: 0.5em;
    color: $white;
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    display: block;
    color: $white;
    font-size: 17px;
    font-weight: 600;
  }

  .button {
    width: 100%;
  }

  .checkbox__label {
    margin-top: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .personal-offer {
    .button {
      margin-top: 35px;
    }
  }
}

@media screen and (max-width: 991px) {
  .personal-offer {
    .button {
      display: flex;
      max-width: 255px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .personal-offer {
    &__heading {
      font-size: 17px;
    }

    &__description {
      font-size: 15px;
    }

    .input-field {
      margin-bottom: 8px;
    }

    .button {
      margin-top: 27px;
    }
  }
}
