.phone-block {
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid $gray-400;
    border-radius: 50%;
    color: $gray-700;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    margin-left: 20px;
  }

  &__phone-number {
    color: $gray-700;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: normal;

    &_red {
      color: $red-200;
    }

    &_small {
      font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      font-size: 17px;
    }
  }

  &__description {
    display: block;
    margin-top: 5px;
    color: $gray-600;
    font-size: 13px;
  }

  &__link:hover,
  &__link:focus {
      .phone-block__phone-number {
        text-decoration: underline;
      }
    }
}

@media screen and (max-width: 1199px) {
  .phone-block {
    margin-left: auto;

    &__button {
      border-color: transparent;
    }
    &__text {
      display: none;
    }

    &__link:hover,
    &__link:focus {
      .phone-block__icon {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .phone-block {
    margin-left: 0;
  }
}
