.search-form {
  position: relative;
  max-width: 345px;
  width: 100%;
  height: 40px;

  &__label {
    display: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0 68px 0 20px;
    border: 2px solid $gray-400;
    border-radius: 20px;
    box-shadow: none;
    font-size: 13px;

    &:focus,
    &:hover {
      border-color: $gray-500;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    cursor: pointer;

    &_search {
      position: absolute;
      top: 2px;
      right: 2px;
      height: 36px;
      background-color: $gray-300;
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      color: $gray-600;

      .search-form__icon {
        width: 16px;
        height: 16px;
      }

      &:hover,
      &:focus {
        background-color: $gray-350;
      }
    }

    &_open {
      display: none;
      height: 48px;
      background-color: $white;
      border-radius: 50%;

      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 1199px) {
  .search-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    flex-wrap: nowrap;
    max-width: 48px;
    width: 100%;
    height: 48px;
    margin-right: 0;
    margin-left: auto;
    transition: max-width 0.3s;

    &__input {
      max-width: 0;
      margin-left: 40px;
      padding: 0;
      border-width: 0;
      opacity: 0;
      transition-property: opacity, width, max-width, margin-left, padding-left, padding-right, border-width;
      transition-duration: 0.3s;
    }

    &__button {
      &_search {
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity 0.3s;
        transition-delay: 0.1s;
      }

      &_open {
        display: flex;
        position: absolute;
      }
    }

    &_opened {
      display: flex;
      max-width: 250px;
      height: 40px;

      .search-form__input {
        max-width: 210px;
        width: 100%;
        padding: 0 68px 0 20px;
        border-width: 2px;
        opacity: 1;
      }

      .search-form__button_search {
        width: 48px;
        height: 36px;
        opacity: 1;
      }

      .search-form__button_open {
        width: 40px;
        height: 40px;

        .search-form__icon {
          display: none;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 2px;
          background-color: $gray-700;
          transform: translate(-50%, -50%) rotate(45deg);
          transform-origin: 50% 50%;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 2px;
          background-color: $gray-700;
          transform:  translate(-50%, -50%) rotate(-45deg);
          transform-origin: 50% 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .search-form {
    height: 48px;
    transition: none;

    &__input {
      transition: none;
    }

    &__button_search {
      top: 6px;
      right: 17px;
      transition: none;
    }

    &_opened {
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      max-width: unset;
      width: 100%;
      padding: 4px 15px;
      background-color: rgba($black, 0.3);

      .search-form__input {
        max-width: none;
        margin-left: 0;
      }

      .search-form__button {
        &_open {
          position: absolute;
          top: -52px;
          right: 165px;
          width: 48px;
          height: 48px;
        }
      }

      &+.phone-block {
        margin-left: auto;
      }
    }
  }
}
