.search-form {
  position: relative;
  max-width: 345px;
  width: 100%;
  height: 40px;
  // margin: 4px 0;

  &__label {
    display: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 0 68px 0 20px;
    border: 2px solid $gray-400;
    border-radius: 20px;
    font-size: 13px;

    &:focus,
    &:hover {
      border-color: $gray-500;
    }
  }

  &__button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 48px;
    height: 36px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-width: 0;
    border-color: transparent;
    background: $gray-300 url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1Ni45NjYgNTYuOTY2Ij4KICAgIDxwYXRoIGZpbGw9IiM5OTk5OTkiIGQ9Ik01NS4xNDYgNTEuODg3TDQxLjU4OCAzNy43ODZBMjIuOTI2IDIyLjkyNiAwIDAgMCA0Ni45ODQgMjNjMC0xMi42ODItMTAuMzE4LTIzLTIzLTIzcy0yMyAxMC4zMTgtMjMgMjMgMTAuMzE4IDIzIDIzIDIzYzQuNzYxIDAgOS4yOTgtMS40MzYgMTMuMTc3LTQuMTYybDEzLjY2MSAxNC4yMDhjLjU3MS41OTMgMS4zMzkuOTIgMi4xNjIuOTIuNzc5IDAgMS41MTgtLjI5NyAyLjA3OS0uODM3YTMuMDA0IDMuMDA0IDAgMCAwIC4wODMtNC4yNDJ6TTIzLjk4NCA2YzkuMzc0IDAgMTcgNy42MjYgMTcgMTdzLTcuNjI2IDE3LTE3IDE3LTE3LTcuNjI2LTE3LTE3IDcuNjI2LTE3IDE3LTE3eiIvPgo8L3N2Zz4K) no-repeat;
    background-size: 16px 16px;
    background-position: center center;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $gray-350;
    }
  }
}

@media screen and (max-width: 1199px) {
  .search-form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    max-width: none;
    width: auto;
    margin-right: 0;
    margin-left: auto;
    z-index: 2;
    vertical-align: top;

    &__label {
      display: inline-block;
      position: absolute;
      top: -52px;
      right: 165px;
      width: 40px;
      height: 40px;
      background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1Ni45NjYgNTYuOTY2Ij4KICAgIDxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik01NS4xNDYgNTEuODg3TDQxLjU4OCAzNy43ODZBMjIuOTI2IDIyLjkyNiAwIDAgMCA0Ni45ODQgMjNjMC0xMi42ODItMTAuMzE4LTIzLTIzLTIzcy0yMyAxMC4zMTgtMjMgMjMgMTAuMzE4IDIzIDIzIDIzYzQuNzYxIDAgOS4yOTgtMS40MzYgMTMuMTc3LTQuMTYybDEzLjY2MSAxNC4yMDhjLjU3MS41OTMgMS4zMzkuOTIgMi4xNjIuOTIuNzc5IDAgMS41MTgtLjI5NyAyLjA3OS0uODM3YTMuMDA0IDMuMDA0IDAgMCAwIC4wODMtNC4yNDJ6TTIzLjk4NCA2YzkuMzc0IDAgMTcgNy42MjYgMTcgMTdzLTcuNjI2IDE3LTE3IDE3LTE3LTcuNjI2LTE3LTE3IDcuNjI2LTE3IDE3LTE3eiIvPgo8L3N2Zz4K);
      background-position: center center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      vertical-align: top;

      &:hover {
        opacity: 0.7;
      }
    }

    &__input {
      display: none;
      width: 0;
    }

    &__button {
      display: none;
    }
  }
  .search-form__checkbox:checked {
    &~.search-form__label {
      position: absolute;
      background-image: none;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 8px;
        width: 24px;
        height: 2px;
        background-color: $gray-700;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 8px;
        width: 24px;
        height: 2px;
        background-color: $gray-700;
        transform: rotate(-45deg);
        transform-origin: 50% 50%;
      }
    }

    &~.search-form__input {
      display: inline-block;
      position: absolute;
      right: 15px;
      left: 15px;
      width: calc(100% - 30px);
      vertical-align: top;
    }

    &~.search-form__button {
      display: inline-block;
      position: absolute;
      right: 17px;
    }
  }
}
