.section {
  padding-top: 90px;
  padding-bottom: 90px;

  &__heading {
    display: inline-block;
    margin-bottom: 20px;
    color: $gray-700;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
  }

  &__description {
    color: $gray-700;
    font-size: 24px;
    font-weight: 600;
  }
}
