.seened-items {
  &__swiper {
    position: relative;
    overflow-x: hidden;
  }

  &__item {
    margin-bottom: 20px;
  }

  .catalog-item {
    height: 100%;
    margin-bottom: 0;
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
    background-image: none;
    z-index: 2;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translateY(-50%);
    background-image: none;
    z-index: 2;
  }

  .swiper-button-lock {
    display: none;
  }
}
