.seened-items {
  .section__description {
    display: block;
    margin-bottom: 35px;
  }

  &__swiper {
    position: relative;
    overflow-x: hidden;
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .seened-items {
    .section__description {
      margin-bottom: 25px;
    }
  }
}
