.seo-block {
  margin-bottom: 90px;
}

@media screen and (max-width: 991px) {
  .seo-block {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 575px) {
  .seo-block {
    margin-bottom: 45px;
  }
}
