.separator {
  margin: 20px 0;

  color: $gray-400;
  background-color:$gray-400;
  border: 2px none;
  height: 1px;
  clear:both;

  &_red {
    color: $red-200;
    background-color:$red-200;
  }
}
