.series-item {
  display: block;
  flex-shrink: 0;
  color: $gray-700;
  text-decoration: none;

  .catalog-item__image-wrapper {
    margin-bottom: 20px;
    border: 1px solid $gray-400;
  }

  &__text {
    display: block;
    margin-bottom: 20px;
    font-size: 17px;
    text-align: center;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
