.shipping-form {
  .input-field {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .shipping-form {
    .input-field {
      &:last-child {
        margin-bottom: 40px;
      }
    }

    .input-field__textarea {
      max-width: none;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}
