.site-sections {
  background-color: $gray-200;

  &_scrolled {
    order: 0;
    position: relative;
    width: 0;
    height: 0;
    margin-right: -2400px;
    background-color: $white;
    transition: margin-right 0.5s;
    overflow: hidden;

    .site-sections__nav {
      height: auto;
      margin-top: 30px;
      line-height: 48px;
    }

    .site-sections__list {
      display: block;
      position: relative;
      border-bottom: 1px solid $gray-400;
    }

    .site-sections__list-item {
      display: block;
      border: none;

      &:last-of-type {
        border: none;
      }

      & > .site-sections__list {
        display: none;
      }
    }

    .site-sections__list-name {
      padding-left: 15px;
      background-color: $gray-300;
      font-weight: bold;
    }

    .site-sections__icon {
      display: block;
    }

    .site-sections__link {
      padding-left: 35px;
      padding-right: 30px;
      font-size: 15px;
      font-weight: normal;
      text-align: left;
      text-transform: none;

      &:hover,
      &:focus {
        background: rgba($black, 0.04);
        color: $gray-700;
        font-weight: bold;
      }

      &_opened {
        padding-left: 15px;
        font-weight: bold;

        &+.site-sections__list {
          .site-sections__link {
            padding-left: 15px;
          }
        }
      }

      .site-sections_opened {
        padding-left: 15px;
        font-weight: bold;
        z-index: 2;

        &:not(:only-child) {
          &::before {
            top: 18px;
            right: 15px;
            left: auto;
            transform: rotate(180deg);
          }
        }

        .site-sections__link-back {
          display: block;
          margin-top: -20px;
          color: $gray-600;
          font-weight: normal;
        }

        &~.site-sections__list {
          display: block;
          border-bottom: none;
          z-index: 2;

          & .site-sections__link {
            padding-left: 15px;
          }
        }

        &:hover,
        &:focus {
          .site-sections__link-back {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &_opened {
    order: -1;
    width: auto;
    height: auto;
    margin-right: 0;
    overflow: visible;

    .site-sections__icon {
      display: block;
    }
  }

  .container {
    padding: 0;
  }

  &__nav {
    height: 56px;
    line-height: 56px;
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  &__list-name {
    display: none;
  }

  &__icon {
    display: none;
    position: absolute;
    left: 7px;
    top: 50%;
    height: 1.5em;
    width: 1.5em;
    color: $gray-600;
    transform: translateY(-50%);
  }

  &__link {
    display: block;
    position: relative;
    padding: 0 10px;
    color: $gray-700;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &_opened {
      .site-sections__icon {
        top: 22px;
        right: 22px;
        left: unset;
        transform: translateY(-50%) rotate(180deg);
      }

      .site-sections__link-back {
        display: block;
      }
    }

    &-back {
      display: none;
    }

    &~.site-sections__list {
      display: none;
    }

    &:hover,
    &:focus {
      .site-sections__link-back {
        text-decoration: underline;
      }
    }
  }

  &__link-back {
    margin-top: -20px;
    color: $gray-600;
    font-weight: normal;
  }

  &__list-item {
    flex-basis: 20%;
    border-left: 1px solid rgba($black, 0.06);

    &:last-of-type {
      border-right: 1px solid rgba($black, 0.06);
    }
  }

  &__link:hover,
  &__link:focus {
    background: rgba($black, 0.04);
    color: $red-200;
  }
}

@media screen and (max-width: 1199px) {
  .site-sections {
    position: relative;
    width: 0;
    height: 0;
    order: -1;
    margin-right: -2400px;
    background-color: $white;
    transition: margin-right 0.5s;
    overflow: hidden;

    &_opened {
      width: auto;
      height: auto;
      margin-right: 0;
      overflow: visible;
    }

    &__nav {
      height: auto;
      margin-top: 30px;
      line-height: 48px;
    }

    &__list {
      display: block;
      position: relative;
      border-bottom: 1px solid $gray-400;
    }

    &__list-item {
      display: block;
      border: none;

      &:last-of-type {
        border: none;
      }

      & > .site-sections__list {
        display: none;
      }
    }

    &__list-name {
      padding-left: 15px;
      background-color: $gray-300;
      font-weight: bold;
    }

    &__link {
      position: relative;
      padding-left: 35px;
      padding-right: 30px;
      font-size: 15px;
      font-weight: normal;
      text-align: left;
      text-transform: none;

      &:hover,
      &:focus {
        background: rgba($black, 0.04);
        color: $gray-700;
        font-weight: bold;
      }

      &_opened {
        padding-left: 15px;
        font-weight: bold;
        z-index: 2;

        &:not(:only-child) {
          &::before {
            top: 18px;
            right: 15px;
            left: auto;
            transform: rotate(180deg);
          }
        }

        .site-sections__link-back {
          display: block;
        }

        &~.site-sections__list {
          display: block;
          border-bottom: none;
          z-index: 2;

          & .site-sections__link {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
