.social-share {
  &__text {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  ul {
    margin-bottom: 0;

    li {
      padding: 0;

      &:not(:last-child) {
        margin-right: 5px;
      }

      &::before {
        display: none;
      }
    }
  }
}
