.sort-block {
  display: flex;

  &__filter-button {
    display: none;
    width: auto;
    margin-right: 10px;
  }

  &__group {
    &:first-of-type {
      margin-right: 20px;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

  &__sort-type {
    margin-right: 10px;
    font-size: 15px;
    line-height: 40px;
  }

  &__change-layout-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 20px;
    color: $gray-600;

    &_active {
      color: $red-200;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 1343px) {
  .sort-block {
    &__pricelist-button {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .sort-block {
    &__filter-button {
      display: inline-flex;
    }

    &__sort-type {
      margin-right: 5px;

      &:not(:first-of-type) {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sort-block {
    flex-wrap: wrap;

    &__filter-button {
      order: 1;
    }

    &__group {
      margin-bottom: 10px;
    }

    &__sort-type {
      &:nth-of-type(2) {
        margin-left: auto;
      }
    }

    &__filter-button {
      margin-right: auto;
    }

    &__change-layout-button {
      order: 2;

      &:first-of-type {
        margin-left: auto;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .sort-block {
    &__filter-button {
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px;
      order: 0;
    }

    &__group {
      &:first-of-type {
        display: flex;
        flex-grow: 1;
        margin-right: 0;

        .input-field__wrapper {
          flex-grow: 1;
        }
      }

      &:last-of-type {
        flex-basis: calc(100% - 90px);
      }
    }

    &__sort-type {
      display: inline-block;
      min-width: 110px
    }

  }
}
