.steps-bar {
  display: flex;
  height: 56px;
  margin-bottom: 55px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    background-color: $orange-200;
    color: $gray-700;
    font-size: 17px;

    &_active {
      background-color: desaturate($orange-200, 40%);
      color: $red-200;
      font-weight: bold;
    }

    &:first-child {
      clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
    }

    &:last-child {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15px 50%);
    }

    &:nth-last-child(n + 1) {
      margin-right: -11px;
    }

    &:not(:first-child):not(:last-child) {
      clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
    }
  }

  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}

@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  .steps-bar {
    &__item {
      &:nth-last-child(n + 1) {
        margin-right: 20px;

        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
          width: 0;
          height: 0;
          border-top: 28px solid transparent;
          border-bottom: 28px solid transparent;
          border-left: 15px solid $orange-200;
        }
      }

      &:nth-child(n):nth-last-child(n) {
        clip-path: none;
      }
    }
  }

  .steps-bar__item.steps-bar__item_active {
    &:after {
      border-left-color: desaturate($orange-200, 40%);
    }
  }
}

@media screen and (max-width: 767px) {
  .steps-bar {
    height: 40px;

    &__item {
      background-color: transparent;
      counter-increment: step-counter;

      &:last-child {
        flex-basis: 40px;

        .steps-bar__text {
          display: none;
        }
      }

      &:nth-child(n):nth-last-child(n) {
        margin-right: 0;
        clip-path: none;
      }

      &::before {
        content: counter(step-counter);
        display: inline-block;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        background-color: $gray-100;
        border-radius: 50%;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
      }

      &_active {
        &::before {
          background-color: $orange-200;
        }
      }
    }

    &__icon {
      display: none;
    }

    &__text {
      flex-basis: 100%;
      flex-shrink: 2;
      height: 2px;
      margin-right: 8px;
      background-color: $gray-400;
      color: $gray-400;
      font-size: 0.1px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 767px) and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  .steps-bar__item:nth-child(n)::after {
    display: none;
  }
}
