.styled-list {
  margin: 0 0 40px 0;
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    font-size: 15px;
    line-height: 22px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      border: 2px solid $red-200;
      border-radius: 50%;
    }
  }
}
