.subscription-form {
  background-color: $gold-100;

  &__fieldset {
    padding: 16px 0;
  }

  &__legend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 56px;
    color: $gray-700;
    font-size: 17px;
    font-weight: 600;
    text-align: right;
  }

  &__input-wrapper {
    position: relative;
    max-width: 520px;

    .input-field {
      padding-right: 55px;
    }

    .button {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }

  .checkbox__label {
    margin-top: 20px;
  }

  &_sidebar {
    margin-bottom: 80px;
    padding: 20px 15px;

    .subscription-form__legend {
      height: auto;
      margin-bottom: 10px;
      text-align: left;
    }

    .subscription-form__description {
      display: block;
      height: auto;
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 1.55;
    }

    .input-field {
      margin-bottom: 10px;
    }

    .button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1199px) {
  .subscription-form {
    &_sidebar {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .subscription-form {
    &_sidebar {
      margin-bottom: 0;

      .subscription-form__legend {
        justify-content: flex-start;
        margin-bottom: 25px;
      }

      .input-field,
      .button {
        max-width: none;
        width: 100%;
        height: 56px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 28px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .subscription-form {
    &__fieldset {
      padding: 35px 0 40px 0;
    }

    &__legend {
      justify-content: center;
      height: auto;
      margin-bottom: 25px;
      text-align: left;
    }
  }
}
