.top-line {
  order: -1;
  background-color: $gray-100;

  &_scrolled {
    position: relative;
    width: 0;
    height: 0;
    order: initial;
    margin-right: -2400px;
    background-color: $white;
    transition: margin-right 0.5s;
    overflow: hidden;

    .top-line__nav {
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      line-height: 48px;
    }

    .top-line__list {
      flex-direction: column;
      justify-content: flex-start;

      &_left {
        margin-right: 0;
        border-bottom: 1px solid $gray-400;
      }

      &_right {
        margin-bottom: 30px;
        margin-left: 0;
      }
    }

    .top-line__list-item {
      margin-right: 0;
    }

    .top-line__link {
      padding-left: 35px;
      padding-right: 30px;
      font-size: 15px;
    }

    .top-line__link:hover,
    .top-line__link:focus {
      background: rgba($black, 0.04);
      color: $gray-700;
      font-weight: bold;
    }
  }

  &_opened {
    width: auto;
    height: auto;
    margin-right: 0;
    overflow: visible;

    .container {
      padding: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
  }

  &__list-item {
    margin-right: 30px;
  }

  &__link {
    display: block;
    color: $gray-700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray-600;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    list-style: none;

    &_left {
      margin-right: 15px;

      .top-line__list-item {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    &_right {
      margin-left: 15px;

      .top-line__list-item {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .top-line {
    position: relative;
    width: 0;
    height: 0;
    order: initial;
    margin-right: -2400px;
    background-color: $white;
    transition: margin-right 0.5s;
    overflow: hidden;

    &_opened {
      width: auto;
      height: auto;
      margin-right: 0;
      overflow: visible;
    }

    &__nav {
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      line-height: 48px;
    }

    &__list {
      flex-direction: column;
      justify-content: flex-start;

      &_left {
        margin-right: 0;
        border-bottom: 1px solid $gray-400;
      }

      &_right {
        margin-bottom: 30px;
        margin-left: 0;
      }
    }

    &__list-item {
      margin-right: 0;
    }

    &__link {
      padding-left: 35px;
      padding-right: 30px;
      font-size: 15px;
    }

    &__link:hover,
    &__link:focus {
      background: rgba($black, 0.04);
      color: $gray-700;
      font-weight: bold;
    }
  }
}

// @media screen and (max-width: 575px) {
//   .top-line {
//     &__list_left {
//       margin: 10px 0;
//       border-bottom: none;

//       .top-line__list-item {
//         &:not(:first-child) {
//           display: none;
//         }
//       }
//     }

//     &__list_right {
//       display: none;
//     }

//     &_scrolled {
//       .top-line__list_left{
//         border-bottom: none;
//       }
//     }
//   }
// }
