html {
  color: $gray-700;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-variant-numeric: lining-nums;
}

body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none;
}
