mixin checkbox(props = 0)

  - const { labelColor } = props;

  - const labelClassList = labelColor ? 'checkbox__label checkbox__label_' + labelColor : 'checkbox__label';

  label(class= labelClassList)
    input(type="checkbox").checkbox.visually-hidden&attributes(attributes)
    span.checkbox__checkbox
    block
