mixin item-gallery(props= 0)

  include ../templates/button
  include ../templates/sticker

  - const {stickers = false, swiperClass = false, thumbsClass = false} = props;

  - let swiperClassList = 'item-gallery__swiper';
  - let thumbsClassList = 'd-none d-md-block item-gallery__thumbs';

  - swiperClassList += swiperClass ?  ` ${swiperClass}` : '';
  - thumbsClassList += thumbsClass ? ` ${thumbsClass}` : '';

  .item-gallery
    if stickers
      .stickers
        +sticker({type: "hit"})
        +sticker({type: "new"})
    div(class= swiperClassList)
      .swiper-wrapper
        a(href="assets/img/sample-image-1-575.jpg" data-fancybox="item-gallery").item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="" data-object-fit="cover").item-gallery__image
        a(href="assets/img/sample-image-1-575.jpg" data-fancybox="item-gallery").item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-1-575.jpg", alt="" data-object-fit="cover").item-gallery__image
        a(href="assets/img/sample-image-2-300.jpg" data-fancybox="item-gallery").item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-2-300.jpg", alt="" data-object-fit="cover").item-gallery__image
        a(href="assets/img/sample-image-3-300.jpg" data-fancybox="item-gallery").item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-3-300.jpg", alt="" data-object-fit="cover").item-gallery__image

    div(class= thumbsClassList)
      .swiper-wrapper
        .item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="" data-object-fit="cover").item-gallery__image
        .item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-1-575.jpg", alt="" data-object-fit="cover").item-gallery__image
        .item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-2-300.jpg", alt="" data-object-fit="cover").item-gallery__image
        .item-gallery__slide
          .item-gallery__image-wrapper
            img(src="assets/img/sample-image-3-300.jpg", alt="" data-object-fit="cover").item-gallery__image

      +button({type: 'circle', half: 'half_left', size: 'small', color: 'brown', iconId: '#arrow-left', otherClasses: 'prev'})
      +button({type: 'circle', half: 'half_right', size: 'small', color: 'brown', iconId: '#arrow-right', otherClasses: 'next'})
