mixin price(props= 0)

  - const { sale= false } = props;

  if sale
    span.price
      span.price__old-value 99 999
      span.price__value 99 175 ₽/шт.

  else
    span.price
      span.price__value 99 175 ₽/шт.
