mixin social-links(props = 0)
  include button

  - const {otherClasses, button: {borderColor = '', iconsNames = [] } = {}} = props;

  - socialLinksClassList = otherClasses ? 'social-links ' + otherClasses : 'social-links'

  ul(class= socialLinksClassList)

    each val in iconsNames

      li.social-links__item
        +button({type: 'circle', tag: 'a', size: 'small', borderColor: `${borderColor}`, iconId: `#${val}`})(href='#', target='blank')
