include ../templates/button
include ../templates/input-field

mixin sort-block(props = 0)

  -const {filter = false, downloadButton = true, changeLayoutButtons = true} = props

  .sort-block
    if filter
      +button({tag: 'a', size: 'small', color: 'red', otherClasses: 'sort-block__filter-button'})(data-fancybox data-src="#catalog-filter" href="javascript:;")
        |Фильтр

    .sort-block__group
      span.sort-block__sort-type Сортировать:
      +input-field({type: 'select', size: 'small'})
        optgroup
          option По популярности
          option По новизне

    .sort-block__group
      span.sort-block__sort-type Показывать по:
      +input-field({type: 'select', size: 'small'})
        optgroup
          option 12
          option 24
          option 48

    if downloadButton
      +button({tag: 'a', size: 'small', borderColor: 'red', otherClasses: 'sort-block__pricelist-button'})(href='#', target='blank')
        |Скачать прайс-лист

    if changeLayoutButtons
      a(href="#").sort-block__change-layout-button.sort-block__change-layout-button_active
        svg.sort-block__icon
          use(xlink:href="#window")
      a(href="#").sort-block__change-layout-button
        svg.sort-block__icon
          use(xlink:href="#list")
