mixin sticker(props)
  - let {type} = props;

  case type
    when 'new'
      span.sticker.sticker_new New

    when 'hit'
      span.sticker.sticker_hit Хит

    when 'sale'
      span.sticker.sticker_sale %

    when 'out'
      span.sticker.sticker_out Снято с производства

    when 'complete'
      span.sticker.sticker_complete Завершено

    when 'gift'
      span.sticker.sticker_gift
        svg.sticker__icon
          use(xlink:href="#gift")
