include ../templates/button
include ../templates/rating

.article-footer
  +button({tag: 'a', type: 'icon_left', color: 'red', iconId: '#arrow-left', iconBg: 'lighter'})(href="https://zen.yandex.ru/")
    |Возврат к списку
  .article-footer__rating
    span.social-share__text Оцените материал:
    +rating()
  include ./social-share
