include ../templates/button

.ask-banner
  .container
    .row
      .col-12
        .ask-banner__content
          span.personal-offer__heading Не нашли ответа на свой вопрос?
          +button({type: 'icon_left', iconId: '#writing'})
              |Задайте его нам
