table.basket-table
  thead.basket-table__thead
    tr.basket-table__tr
      th.basket-table__th
      th.basket-table__th Наименование товара
      th.basket-table__th.d-none.d-lg-table-cell Код товара
      th.basket-table__th Цена
      th.basket-table__th Кол-во
      th.basket-table__th Сумма
      th.basket-table__th
  tbody.basket-table__tbody
    include basket-table-product
    include basket-table-product
