.basket
  a(href="#").basket__link#warning-basket-button
    span.basket__button
      svg.basket__icon
        use(xlink:href="#shopping-basket")
    span.basket__items-counter 15
    span.basket__text
      |
      |
      span.basket__amount 12 800 500 ₽.
      span.basket__description Минимальный заказ: 30 000 р.
  include warning-basket
