.section.benefits
  .container
    .row
      .col-lg-10.col-xl-8.col-xxl-7
        span.section__heading
          |Компания «Коралл» —
          br
          |24 года успешной работы на рынке посуды
        .section__description.
          С&nbsp;нами Вы&nbsp;добьетесь максимально эффективного результата!
      .col-12.col-md-11.col-lg-12.col-xl-11
        .benefits__items
          .swiper-wrapper
            .benefit-item
              .benefit-item__icon.benefit-item__icon_trolley
              .benefit-item__number 01
              .benefit-item__text
                .benefit-item__thesis Ассортиментное предложение
                .benefit-item__description.
                  Востребованный ассортимент посуды
                  и&nbsp;товаров для дома от&nbsp;эконом
                  до&nbsp;премиум класса
            .benefit-item
              .benefit-item__icon.benefit-item__icon_diamond
              .benefit-item__number 02
              .benefit-item__text
                .benefit-item__thesis Эксклюзивные проекты
                .benefit-item__description.
                  Более 50-ти новых серий ежегодно. Лицензионные коллекции и&nbsp;авторские дизайны
            .benefit-item
              .benefit-item__icon.benefit-item__icon_shield
              .benefit-item__number 03
              .benefit-item__text
                .benefit-item__thesis Качество
                .benefit-item__description.
                  Весь товар сертифицирован
                  и&nbsp;соответствует требованиям СанПин
            .benefit-item
              .benefit-item__icon.benefit-item__icon_boxes
              .benefit-item__number 04
              .benefit-item__text
                .benefit-item__thesis Наличие товара и сервис
                .benefit-item__description.
                  Собственный склад позволяет поддерживать широкий ассортимент и&nbsp;глубину позиций, обеспечивая непрерывные поставки
            .benefit-item
              .benefit-item__icon.benefit-item__icon_truck
              .benefit-item__number 05
              .benefit-item__text
                .benefit-item__thesis Логистика
                .benefit-item__description.
                  Доставка заказов в любую точку России
                  и&nbsp;СНГ. Возможна отгрузка в&nbsp;день обращения. Все грузы застрахованы
            .benefit-item
              .benefit-item__icon.benefit-item__icon_list
              .benefit-item__number 06
              .benefit-item__text
                .benefit-item__thesis Гарантия
                .benefit-item__description.
                  Замена боя, компенсация или&nbsp;замена производственного брака.
          .d-flex.d-md-none.pagination
