.catalog-layout
  .row
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.col-sm-6.col-md-4.col-xxl-3.catalog-layout__item
      +catalog-item()
    .col-12.catalog-layout__banner(data-order='1')
      .banner.banner_bg_pattern
        .banner__offer
          span.banner__text Хотите узнать цену? Зарегистрируйтесь!
          +button({tag: 'a'})(href='#')
            |Регистрация
    .col-12.catalog-layout__banner(data-order='2')
      .banner
        a(href="#").banner__link
          picture.banner__image
            source(media="(min-width: 1200px)" srcset="assets/img/banner-image-960.jpg")
            source(media="(min-width: 768px)" srcset="assets/img/banner-image-690.jpg")
            source(media="(min-width: 320px)" srcset="assets/img/banner-image-545.jpg")
            img(src="assets/img/banner-image-960.jpg", alt="Коллекция посуды Home Collection").banner__image
