.contacts-burger
  .container
      .row
        .col-12
          .contacts-burger__content
            a(href="tel:88002508373").phone-block__phone-number.contacts-burger__phone
              |8 (800) 250-83-73
            a(href="mailto:info@korall.ru").contacts-burger__email
              |info@korall.ru
