a(href="#").download-item
  .download-item__image-wrapper
    img(src="assets/img/sample-image-1-630.jpg", alt="изображение" data-object-fit="cover").download-item__image
  span.download-item__name Лицензионные коллекции 2019 г.
  span.download-item__size PDF, 36 Мб
  span.download-item__date 13 мая 2019
