include ../templates/social-links

footer.footer
  .container
    .row
      .d-none.d-xl-block.col-2
        .footer__column
          span.footer__column-heading Каталог
          nav.footer__nav
            ul.footer__list
              li.footer__list-item
                a(href="#").footer__link Коллекции посуды
              li.footer__list-item
                a(href="#").footer__link Лицензионные коллекции
              li.footer__list-item
                a(href="#").footer__link Кружки
              li.footer__list-item
                a(href="#").footer__link Посуда для&nbsp;чая и&nbsp;кофе
              li.footer__list-item
                a(href="#").footer__link Посуда столовая
              li.footer__list-item
                a(href="#").footer__link Посуда для&nbsp;детей
              li.footer__list-item
                a(href="#").footer__link Посуда из&nbsp;доломита
      .d-none.d-xl-block.col-2
        .footer__column
          nav.footer__nav
            ul.footer__list
              li.footer__list-item
                a(href="#").footer__link Посуда керамическая
              li.footer__list-item
                a(href="#").footer__link Посуда из&nbsp;стеклокерамики
              li.footer__list-item
                a(href="#").footer__link Посуда стеклянная
              li.footer__list-item
                a(href="#").footer__link Посуда для&nbsp;приготовления
              li.footer__list-item
                a(href="#").footer__link Кухонные принадлежности
              li.footer__list-item
                a(href="#").footer__link Посуда пластиковая
              li.footer__list-item
                a(href="#").footer__link Посуда для&nbsp;хранения
      .d-none.d-xl-block.col-2
        .footer__column
          nav.footer__nav
            ul.footer__list
              li.footer__list-item
                a(href="#").footer__link Предметы интерьера
              li.footer__list-item
                a(href="#").footer__link Подарки и&nbsp;сувениры
              li.footer__list-item
                a(href="#").footer__link Товары для&nbsp;дома и&nbsp;дачи
              li.footer__list-item
                a(href="#").footer__link Текстиль
              li.footer__list-item
                a(href="#").footer__link Длинный предлинный раздел каталога
      .d-none.d-md-block.col-6.col-xl-2.offset-xl-1
        .footer__column
          span.footer__column-heading Коралл
          nav.footer__nav
            ul.footer__list
              li.footer__list-item
                a(href="#").footer__link О компании
              li.footer__list-item
                a(href="#").footer__link Покупателю
              li.footer__list-item
                a(href="#").footer__link Новости
              li.footer__list-item
                a(href="#").footer__link Вопрос-ответ
              li.footer__list-item
                a(href="#").footer__link Статьи
              li.footer__list-item
                a(href="#").footer__link Скачать
              li.footer__list-item
                a(href="#").footer__link Контакты
      .d-block.d-sm-none.d-md-block.col-12.col-md-6.col-xl-3
        .footer__column
          span.d-none.d-md-block.footer__column-heading Контакты
          +social-links({otherClasses: 'd-none d-md-flex', button: {iconsNames: ['facebook', 'vk', 'ok', 'instagram', 'youtube-play']}})
          a(href="tel:88002508373").phone-block__phone-number 8 (800)
            |
            |
            span.phone-block__phone-number.phone-block__phone-number_red 250-83-73
          a(href="mailto:info@korall.ru").contacts-burger__email info@korall.ru
          a(href="tel:+7(4842)500520").d-none.d-md-block.phone-block__phone-number.phone-block__phone-number_small +7 (4842) 500-520
          a(href="tel:+7(4842)500530").d-none.d-md-block.phone-block__phone-number.phone-block__phone-number_small +7 (4842) 500-530
          span.d-none.d-md-block.footer__adress Калуга, 2-й&nbsp;Академический проезд, д.&nbsp;13
          a(href="#").d-none.d-md-block.footer__privacy Политика обработки персональных данных
      .d-none.d-md-block.col-12
        hr.separator.separator_red
      .col-xs-12.col-sm-6.col-md-6.col-xl-2
        .footer__column
          span.footer__info © 2004—2019, ООО&nbsp;«КОРАЛЛ»
          |
          |
          span.footer__info ОГРН 1164027057435
          |
          |
          span.footer__info ИНН 4027128767
          |
          |
          span.footer__info КПП 402701001
      .d-none.d-md-block.col-6.col-xl-7
        .footer__column
          span.footer__info Вся размещенная на сайте korall.ru информация, в том числе характеристики товаров, фотографии и стоимость продукции, носит исключительно информационный характер и не является публичной офертой, определяемой пунктами статьи 437 ГК РФ.
      .col-xs-12.col-sm-6.col-xl-3
        .footer__column
          span.footer__info Создание сайта —
            |
            |
            a(href="https://it-escort.ru/").footer__info-link АйТи-Эскорт
