.header-line
  .container
    .row
      .col-12
        .header-line__content
          img(src="../assets/img/logo.jpg" alt="Логотип").header-line__logo
          include search-form.pug
          include phone-block.pug
          include basket.pug
