.header-line
  .container
    .row
      .col-12
        .header-line__content
          img(src="assets/icons/logo.svg" alt="Логотип").header-line__logo
          img(src="assets/icons/logo.svg" alt="Логотип").header-line__logo_scrolled.d-none
          include search-form.pug
          include phone-block.pug
          include basket.pug
          include burger-menu.pug
