.header
  .header__content
    .header__scroll-container
      include header-line.pug
      include site-sections.pug
      include top-line.pug
      include contacts-burger.pug
.overlay.overlay_black

#registration-form(style="display: none;")
  span.section__description Регистрация
  include registration-form
