include ../templates/button

.hero-swiper
  .swiper-wrapper
    a(href="#").hero-swiper__slide
      picture.hero-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/hero-swiper-slide-1920.jpg")
        source(media="(min-width: 768px)" srcset="assets/img/hero-swiper-slide-1343.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/hero-swiper-slide-767.jpg")
        img(src="assets/img/hero-swiper-slide-1343.jpg", alt="изображение слайда" data-object-fit="cover").hero-swiper__image
    a(href="#").hero-swiper__slide
      picture.hero-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/hero-swiper-slide-1920.jpg")
        source(media="(min-width: 768px)" srcset="assets/img/hero-swiper-slide-1343.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/hero-swiper-slide-767.jpg")
        img(src="assets/img/hero-swiper-slide-1343.jpg", alt="изображение слайда" data-object-fit="cover").hero-swiper__image

  .pagination
  .d-none.d-xl-block.hero-swiper__navigation
    .container
      .row
        .col-12
          +button({type: 'circle', opacity: '09', iconId: '#arrow-left', otherClasses: 'prev'})
          +button({type: 'circle', opacity: '09', iconId: '#arrow-right', otherClasses: 'next'})
