.item-benefits
  img(src="assets/icons/benefit-patent.svg", alt="Продукт запатентован", title="Продукт запатентован", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-series.svg", alt="Чайно-столовая серия", title="Чайно-столовая серия", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-light.svg", alt="Облегченный вес", title="Облегченный вес", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-white.svg", alt="Повышенная белизна", title="Повышенная белизна", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-gift.svg", alt="Изысканный подарок", title="Изысканный подарок", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-health.svg", alt="Безопасно для здоровья", title="Безопасно для здоровья", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-micro.svg", alt="Можно греть в СВЧ-печи", title="Можно греть в СВЧ-печи", data-object-fit="contain").item-benefits__item

  img(src="assets/icons/benefit-washmashine.svg", alt="Можно мыть в посудомоечной машине", title="Можно мыть в посудомоечной машине", data-object-fit="contain").item-benefits__item
