.item-characteristics
  .item-characteristics__item
    span.item-characteristics__text Дизайн/ серия
    .item-characteristics__separator
    span.item-characteristics__text Снежная королева
  .item-characteristics__item
    span.item-characteristics__text Объем/ размер
    .item-characteristics__separator
    span.item-characteristics__text 340 мл
    span.item-characteristics__text Очень длинный текст, который будет вылезать на вторую строчку, но это будет красиво, так как все учтено.
  .item-characteristics__item
    span.item-characteristics__text Форма
    .item-characteristics__separator
    span.item-characteristics__text квадрат
  .item-characteristics__item
    span.item-characteristics__text Материал
    .item-characteristics__separator
    span.item-characteristics__text керамика
  .item-characteristics__item
    span.item-characteristics__text Дизайн/ серия
    .item-characteristics__separator
    span.item-characteristics__text Снежная королева
  .item-characteristics__item
    span.item-characteristics__text Объем/ размер
    .item-characteristics__separator
    span.item-characteristics__text 340 мл
  .item-characteristics__item
    span.item-characteristics__text Форма
    .item-characteristics__separator
    span.item-characteristics__text квадрат
  .item-characteristics__item
    span.item-characteristics__text Материал
    .item-characteristics__separator
    span.item-characteristics__text керамика
