.item-benefits
  svg.item-benefits__item
    use(xlink:href="#benefit-patent")

  svg.item-benefits__item
    use(xlink:href="#benefit-series")

  svg.item-benefits__item
    use(xlink:href="#benefit-light")

  svg.item-benefits__item
    use(xlink:href="#benefit-white")

  svg.item-benefits__item
    use(xlink:href="#benefit-gift")

  svg.item-benefits__item
    use(xlink:href="#benefit-health")

  svg.item-benefits__item
    use(xlink:href="#benefit-micro")

  svg.item-benefits__item
    use(xlink:href="#benefit-washmashine")
