include ../templates/button

.licensed-collections
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  include licensed-item
  .licensed-collections__button-wrapper
    +button({type: 'icon_right', iconId: '#arrow-down', color: 'gray'})
      |Смотреть еще
