.licensed-item
  .licensed-item__image-wrapper
    img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Сердитые птички" data-object-fit="cover").licensed-item__image
  span.licensed-item__text ANGRY BIRDS MOVIE (Сердитые птички)
