.manager-card
  .manager-card__image-wrapper
    img(src="assets/img/sample-person.jpg", alt="Персональный менеджер" data-object-fit="cover").manager-card__image
  .manager-card__text
    span.manager-card__name Смирнова Евгения Андреевна
    a(href="tel:+74842500504").team-card__tel +7 (4842) 500-504
    a(href="mailto:info@korall.ru").team-card__email info@korall.ru
