.section.news
  .container
    .row
      .col-12.col-sm-7.col-md-8.col-xl-8.col-xxl-10.order-0
        span.section__heading Новости
      .col-12.col-sm-5.col-md-4.col-xl-4.col-xxl-2.order-10.order-sm-0
        button.button.button_red.button_icon.button_icon_right.button_icon_next_light.button_icon_bg_lighter Читать еще
      .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-6
        .news-post.news-post_big
          .news-post__image-wrapper
            picture.hero-swiper__image.news-post__image
              source(media="(min-width: 1344px)" srcset="assets/img/sample-image-1-630.jpg")
              source(media="(min-width: 1200px)" srcset="assets/img/sample-image-1-540.jpg")
              source(media="(min-width: 992px)" srcset="assets/img/sample-image-1-210.jpg")
              source(media="(min-width: 768px)" srcset="assets/img/sample-image-1-210.jpg")
              source(media="(min-width: 576px)" srcset="assets/img/sample-image-1-240.jpg")
              source(media="(min-width: 300px)" srcset="assets/img/sample-image-1-575.jpg")
              img(src="assets/img/sample-image-1-630.jpg", alt="изображениt новости").news-post__image
          span.news-post__date 14 мая
          span.news-post__name Очень, очень длинный заголовок новости в две, три строчки
          span.news-post__description.
            Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса
      .d-none.d-sm-block.col-12.col-sm-6.col-md-8.col-lg-9.col-xl-6
        .row
          .col-sm-12.col-md-6.col-lg-4.col-xl-6
            .news-post
              .news-post__image-wrapper
                picture.news-post__image
                  source(media="(min-width: 1344px)" srcset="assets/img/sample-image-2-300.jpg")
                  source(media="(min-width: 1200px)" srcset="assets/img/sample-image-2-255.jpg")
                  source(media="(min-width: 768px)" srcset="assets/img/sample-image-2-210.jpg")
                  source(media="(min-width: 576px)" srcset="assets/img/sample-image-2-240.jpg")
                  img(src="assets/img/sample-image-2-300.jpg", alt="изображение новости").news-post__image
              span.news-post__date 14 мая
              span.news-post__name Очень, очень длинный заголовок новости
              span.news-post__description.
                Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса
          .d-none.d-md-block.col-sm-12.col-md-6.col-lg-4.col-xl-6
            .news-post
              .news-post__image-wrapper
                picture.news-post__image
                  source(media="(min-width: 1344px)" srcset="assets/img/sample-image-3-300.jpg")
                  source(media="(min-width: 1200px)" srcset="assets/img/sample-image-3-255.jpg")
                  source(media="(min-width: 768px)" srcset="assets/img/sample-image-3-210.jpg")
                  source(media="(min-width: 576px)" srcset="assets/img/sample-image-3-240.jpg")
                  img(src="assets/img/sample-image-3-300.jpg", alt="изображение новости").news-post__image
              span.news-post__date 14 мая
              span.news-post__name Очень, очень длинный заголовок новости в две, три строчки
              span.news-post__description.
                Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса
          .d-none.d-lg-block.col-sm-12.col-md-6.col-lg-4.col-xl-6
            .news-post
              .news-post__image-wrapper
                picture.news-post__image
                  source(media="(min-width: 1344px)" srcset="assets/img/sample-image-4-300.jpg")
                  source(media="(min-width: 1200px)" srcset="assets/img/sample-image-4-255.jpg")
                  source(media="(min-width: 768px)" srcset="assets/img/sample-image-4-210.jpg")
                  source(media="(min-width: 576px)" srcset="assets/img/sample-image-4-240.jpg")
                  img(src="assets/img/sample-image-4-300.jpg", alt="изображение новости")
              span.news-post__date 14 мая
              span.news-post__name Не очень длинный заголовок
              span.news-post__description.
                Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса
          .d-none.d-xl-block.col-sm-12.col-md-6.col-lg-4.col-xl-6
            .news-post
              .news-post__image-wrapper
                picture.news-post__image
                  source(media="(min-width: 1344px)" srcset="assets/img/sample-image-5-300.jpg")
                  source(media="(min-width: 1200px)" srcset="assets/img/sample-image-5-255.jpg")
                  source(media="(min-width: 768px)" srcset="assets/img/sample-image-5-210.jpg")
                  source(media="(min-width: 576px)" srcset="assets/img/sample-image-5-240.jpg")
                  img(src="assets/img/sample-image-5-300.jpg", alt="изображение новости")
              span.news-post__date 14 мая
              span.news-post__name Очень, очень длинный заголовок новости
              span.news-post__description.
                Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса
