form.personal-offer
  fieldset.personal-offer__fieldset
    .container
      .row
        .col-12
          legend.personal-offer__legend
            span.personal-offer__heading Получи персональное предложение
            |
            |
            span.personal-offer__description Оставьте свой номер телефона и мы перезвоним вам
        .col-3
          input(type="text")
        .col-3
          input(type="text")
        .col-3
          input(type="text")
        .col-3
          input(type="submit")
        .col-12
          label
            input(type="checkbox")
            |Нажимая кнопку «Подписаться», я даю свое согласие на обработку моих персональных данных.
