include ../templates/button
include ../templates/input-field
include ../templates/checkbox

form.personal-offer
  fieldset.personal-offer__fieldset
    .container
      .row
        .col-12
          span.personal-offer__legend
            span.personal-offer__heading Получи персональное предложение
            |
            |
            span.personal-offer__description Оставьте свой номер телефона и мы перезвоним вам
        .col-12.col-md-4.col-xl-3
          +input-field({type: 'text', color: 'red'})(placeholder='Имя', autocorrect='off', autocomplete='name' required)
        .col-12.col-md-4.col-xl-3
          +input-field({type: 'email', color: 'red'})(placeholder='E-mail', inputmode='email', autocapitalize='off', autocorrect='off' autocomplete='email', required)
        .col-12.col-md-4.col-xl-3
          +input-field({type: 'tel', color: 'red'})(placeholder='Телефон', inputmode='tel', autocorrect='off', autocomplete='tel', required)
        .col-12.col-md-6.col-lg-4.col-xl-3.offset-0.offset-md-3.offset-lg-4.offset-xl-0

          +button({type: 'icon_left', iconId: '#writing'})
            |Оставить заявку

        .col-12
          +checkbox({labelColor: 'light'})(checked=true require=ture)
            |Нажимая кнопку «Оставить заявку», я даю свое согласие на обработку моих
            |
            |
            a(href="#" target="blank") персональных данных
