form.personal-offer
  fieldset.personal-offer__fieldset
    .container
      .row
        .col-12
          span.personal-offer__legend
            span.personal-offer__heading Получи персональное предложение
            |
            |
            span.personal-offer__description Оставьте свой номер телефона и мы перезвоним вам
        .col-12.col-md-4.col-xl-3
          input(type="text" placeholder="Имя").input-field.input-field_red
        .col-12.col-md-4.col-xl-3
          input(type="email" inputmode="email" placeholder="E-mail").input-field.input-field_red
        .col-12.col-md-4.col-xl-3
          input(type="tel" inputmode="tel" placeholder="Телефон").input-field.input-field_red
        .col-12.col-md-6.col-lg-4.col-xl-3.offset-0.offset-md-3.offset-lg-4.offset-xl-0
          button.button.button_icon.button_icon_left.button_icon_write-dark Оставить заявку
        .col-12
          label.checkbox__label.checkbox__label_light
            input(type="checkbox").checkbox.visually-hidden
            span.checkbox__checkbox
            |Нажимая кнопку «Оставить заявку», я&nbsp;даю свое согласие на&nbsp;обработку моих&nbsp;персональных данных.
