.phone-block
  a(href="tel:88002508373").phone-block__link
    span.phone-block__icon
    span.phone-block__text
      |
      |
      span.phone-block__phone-number
        |8 (800)
        |
        span.phone-block__phone-number.phone-block__phone-number_red 250-83-73
      span.phone-block__description Звонок по России бесплатный
