.photo-gallery
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
  a(href="assets/img/photo-gallery-image-258.jpg" data-fancybox="").photo-gallery__item
    .photo-swiper__image-wrapper
      picture.photo-swiper__image
        source(media="(min-width: 1344px)" srcset="assets/img/photo-gallery-image-168.jpg")
        source(media="(min-width: 1200px)" srcset="assets/img/photo-gallery-image-141.jpg")
        source(media="(min-width: 576px)" srcset="assets/img/photo-gallery-image-150.jpg")
        source(media="(min-width: 300px)" srcset="assets/img/photo-gallery-image-258.jpg")
        img(src="assets/img/photo-gallery-image-258.jpg", alt="Изображение" data-object-fit="cover").photo-swiper__image
