include ../templates/button

.product-types
  .container
    .row
      .d-sm-none.col-12
        span.section__heading Каталог
      .col-12
        ul.product-types__list
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/tableware-2.svg)")
              |Наборы посуды
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/toy.svg)")
              |Посуда для детей
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/pan.svg)")
              |Посуда для&nbsp;приготовления
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/gifts.svg)")
              |Подарки и&nbsp;сувениры
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/reward.svg)")
              |Лицензионные коллекции
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/pans.svg)")
              |Посуда из&nbsp;доломита
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/tools.svg)")
              |Кухонные принадлежности
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/home.svg)")
              |Товары для&nbsp;дома и&nbsp;дачи
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/cups.svg)")
              |Кружки
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/plates-violet.svg)")
              |Посуда керамическая
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/recycling.svg)")
              |Посуда пластиковая
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/towel.svg)")
              |Текстиль
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/teapot.svg)")
              |Посуда для&nbsp;чая и&nbsp;кофе
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/plates-green.svg)")
              |Посуда из&nbsp;стеклокерамики
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/plates.svg)")
              |Посуда для&nbsp;хранения
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/plate.svg)")
              |Посуда столовая
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/glasses.svg)")
              |Посуда стеклянная
          li.product-types__list-item
            a(href="#").product-types__link
              span.product-types__icon(style="background-image: url(assets/icons/clock.svg)")
              |Посуда интерьера
      .d-sm-none.col-12
        +button({type: 'icon_right', iconId: '#arrow-down', color: 'red', iconBg: 'lighter'})
          |Смотреть еще
