.product-types
  .container
    .row
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/tableware-2.svg)")
          |Наборы посуды
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/toy.svg)")
          |Посуда для детей
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/pan.svg)")
          |Посуда для&nbsp;приготовления
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/gifts.svg)")
          |Подарки и&nbsp;сувениры
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/reward.svg)")
          |Лицензионные коллекции
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/pans.svg)")
          |Посуда из&nbsp;доломита
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/tools.svg)")
          |Кухонные принадлежности
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/home.svg)")
          |Товары для&nbsp;дома и&nbsp;дачи
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/cups.svg)")
          |Кружки
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/plates-violet.svg)")
          |Посуда керамическая
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/recycling.svg)")
          |Посуда пластиковая
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/towel.svg)")
          |Текстиль
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/teapot.svg)")
          |Посуда для&nbsp;чая и&nbsp;кофе
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/plates-green.svg)")
          |Посуда из&nbsp;стеклокерамики
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/plates.svg)")
          |Посуда для&nbsp;хранения
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/party.svg)")
          |Длинное предлинное название раздела
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/plate.svg)")
          |Посуда столовая
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/glasses.svg)")
          |Посуда стеклянная
      .col-12.col-sm-6.col-lg-4.col-xxl-3
        a(href="#").product-types__link
          span.product-types__icon(style="background-image: url(assets/icons/clock.svg)")
          |Посуда интерьера
