.product-description
  p.product-description__text Разделочная доска из бамбука:
  ul.styled-list
    li.styled-list__item не расслаивается и не деформируется
    li.styled-list__item выдерживает механические нагрузки, долговечна в использовании
    li.styled-list__item не впитывает запахи
    li.styled-list__item не изменяет вкусовые качества и цвет пищи
    li.styled-list__item не боится влаги, легко моется
    li.styled-list__item не тупит кухонные ножи
    li.styled-list__item имеет оптимальную толщину 1,5 см
  p.product-description__text Каждая кухонная доска GreenTOP покрыта двойным слоем специальной пропитки, предназначенной для использования на посуде и предметах, соприкасающихся с пищей. Пропитка придает изделию гладкость и усиливает водоотталкивающие и антибактериальные свойства древесины.
