.question
  button(type="button").question__button В каком количестве можно приобрести чашки
  span.question__answer Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны. Востребованный ассортимент посуды и товаров для дома от эконом до премиум класса.Более 50-ти новых серий ежегодно. Лицензионные и авторские. Более 50-ти новых серий ежегодно. Лицензионные коллекции и авторские дизайны.
