include ../templates/price
include ../templates/rating
include ../templates/button
include ../templates/item-gallery
include ../templates/items-counter

.quick-view#quick-view(style="display: none;")
  .container
    .row
      .col-12
        span.section__description Подставка для ножей 11х22см Оранжевый мрамор с цветной вставкой
      .col-5
        .quick-view__header
          .quick-view__stickers
            +sticker({type: `new`})
            +sticker({type: `hit`})
          +rating
          +button({type: 'circle', size: 'small', color: 'no-bg', iconId: '#heart', otherClasses: 'button_heart show-tooltip show-tooltip_top-right'})(data-description="Добавить товар в избранное")
      .col-7
      .col-5
        +item-gallery({swiperClass: 'quick-view__swiper', thumbsClass: 'quick-view__thumbs'})

      .col-7
        .quick-view__checkout
          +price({sale: true})
          +items-counter()
          +button({type: 'circle', size: 'small', color: 'red', iconId: '#shopping-basket', otherClasses: 'buy-button'})
        include ./item-characteristics
      .col-12
        include ./item-benefits
        +button({tag: 'a', otherClasses: 'quick-view__show-more-button'})(type="button")
          |Больше информации о товаре
