include ../templates/button

.review
  p.review__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores sint cupiditate, blanditiis aspernatur possimus deserunt quia ipsam consequatur corrupti odit. Enim voluptate fugiat incidunt cum similique ipsam, voluptas sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores sint cupiditate, blanditiis aspernatur possimus deserunt quia ipsam consequatur corrupti odit. Enim voluptate fugiat incidunt cum similique ipsam, voluptas sequi.
  .review__footer
    span.review__author Наталья Череповец
    span.review__date 12 мая 2019
    +button({tag: 'a', size: 'small'})
      |Подробнее на irecommend.ru
