form.search-form
  button(type="button").search-form__button.search-form__button_open
    svg.search-form__icon
      use(xlink:href="#search")
  input(type="search" placeholder="Поиск по сайту...").search-form__input
  button.search-form__button.search-form__button_search
    svg.search-form__icon
      use(xlink:href="#search")
