form.search-form(action="")
  input(type="checkbox" id="search-form__checkbox").visually-hidden.search-form__checkbox
  label(for="search-form__checkbox").search-form__label
  input(type="search" placeholder="Поиск по сайту...").search-form__input
  button(type="button").search-form__button
