include ../templates/input-field

form.search-form
  button(type='button').search-form__button.search-form__button_open
    svg.search-form__icon
      use(xlink:href="#search")
  +input-field({size: 'small', type: 'text'})(placeholder='Поиск по сайту...')
  button.search-form__button.search-form__button_search
    svg.search-form__icon
      use(xlink:href='#search')
