a(href="#").series-item
  .catalog-item__image-wrapper
    img(src="assets/img/catalog-item-sample-itmage-1.jpg", alt="Изображение товара" data-object-fit="cover").catalog-item__image
  b.series-item__text Снежная королева
