sidebar.sidebar
  a.sidebar__link.sidebar__link_separate(href="#") Товар недели
  ul.sidebar__list
    li.sidebar__list-item
      a.sidebar__link(href="#") Посуда из стеклокерамики
    li.sidebar__list-item
      a.sidebar__link(href="#") Кухонные принадлежности
    li.sidebar__list-item
      a.sidebar__link(href="#") Лицензионные коллекции
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 4
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 5
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 6
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 7
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 8
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 9
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 10
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 11
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 12
    li.sidebar__list-item
      a.sidebar__link(href="#") Категория 13
