.site-sections
  .container
    .row
      .col-12
        nav.site-sections__nav
          ul.site-sections__list
            li.site-sections__list-item
              a.site-sections__link(href="#") Каталог
                span.site-sections__link-back Назад
              span.site-sections__list-name Коллекции посуды
              ul.site-sections__list
                li.site-sections__list-item
                  a(href="#").site-sections__link Лицензионные коллекции
                li.site-sections__list-item
                  a(href="#").site-sections__link Кружки
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для чая и кофе
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда столовая
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для детей
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда из доломита
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда керамическая
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда из стеклокерамики
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда стеклянная
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для приготовления
                li.site-sections__list-item
                  a(href="#").site-sections__link Кухонные принадлежности
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда стеклянная
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для приготовления
                li.site-sections__list-item
                  a(href="#").site-sections__link Кухонные принадлежности
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда стеклянная
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для приготовления
                li.site-sections__list-item
                  a(href="#").site-sections__link Кухонные принадлежности
            li.site-sections__list-item
              a.site-sections__link(href="#") Новинки
            li.site-sections__list-item
              a.site-sections__link(href="#") Распродажа
            li.site-sections__list-item
              a.site-sections__link(href="#") Серии
            li.site-sections__list-item
              a.site-sections__link(href="#") Авторские дизайны
                span.site-sections__link-back Назад
              span.site-sections__list-name Коллекции посуды
              ul.site-sections__list
                li.site-sections__list-item
                  a(href="#").site-sections__link Лицензионные коллекции
                li.site-sections__list-item
                  a(href="#").site-sections__link Кружки
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для чая и кофе
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда столовая
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для детей
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда из доломита
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда керамическая
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда из стеклокерамики
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда стеклянная
                li.site-sections__list-item
                  a(href="#").site-sections__link Посуда для приготовления
                li.site-sections__list-item
                  a(href="#").site-sections__link Кухонные принадлежности
            li.site-sections__list-item
              a.site-sections__link(href="#") Контакты
  .overlay.overlay_white
