ul.site-pagination
  li.site-pagination__item
    a(href="#").site-pagination__link.site-pagination__link_prev
  li.site-pagination__item
    a(href="#").site-pagination__link.site-pagination__link_active 1
  li.site-pagination__item
    a(href="#").site-pagination__link 2
  li.site-pagination__item
    a(href="#").site-pagination__link 3
  li.site-pagination__item
    a(href="#").site-pagination__link 4
  li.site-pagination__item
    a(href="#").site-pagination__link 5
  li.site-pagination__item
    a(href="#").site-pagination__link.site-pagination__link_next
