.site-sections
  .container
    .row
      .col-12
        nav.site-sections__nav
          ul.site-sections__list
            li.site-sections__list-item
              a.site-sections__link(href="#") Каталог
            li.site-sections__list-item
              a.site-sections__link(href="#") Новинки
            li.site-sections__list-item
              a.site-sections__link(href="#") Распродажа
            li.site-sections__list-item
              a.site-sections__link(href="#") Серии
            li.site-sections__list-item
              a.site-sections__link(href="#") авторские дизайны
            li.site-sections__list-item
              a.site-sections__link(href="#") Контакты
