include ../templates/button
include ../templates/input-field

.sort-block
  +button({tag: 'a', size: 'small', color: 'red', otherClasses: 'sort-block__filter-button'})(data-fancybox data-src="#catalog-filter" href="javascript:;")
    |Фильтр

  .sort-block__group
    span.sort-block__sort-type Сортировать:
    +input-field({type: 'select', size: 'small'})
      option По популярности
      option По новизне

  .sort-block__group
    span.sort-block__sort-type Показывать по:
    +input-field({type: 'select', size: 'small'})
      option 12
      option 24
      option 48

  +button({tag: 'a', size: 'small', borderColor: 'red', otherClasses: 'sort-block__pricelist-button'})(href='#', target='blank')
    |Скачать прайс-лист
  +button({type: 'circle', size: 'small', iconId: '#window', otherClasses: 'sort-block__change-layout-button sort-block__change-layout-button_active'})
  +button({type: 'circle', size: 'small', iconId: '#list', otherClasses: 'sort-block__change-layout-button'})
