.steps-bar
  .steps-bar__item.steps-bar__item_active
    svg.steps-bar__icon
      use(xlink:href="#shopping-basket")
    span.steps-bar__text Корзина
  .steps-bar__item
    svg.steps-bar__icon
      use(xlink:href="#user")
    span.steps-bar__text Контактные данные
  .steps-bar__item
    svg.steps-bar__icon
      use(xlink:href="#shopping-list")
    span.steps-bar__text Заказ оформлен!
