form.subscription-form
  fieldset.subscription-form__fieldset
    .container
      .row
        .col-12.col-sm-8.col-md-6.col-lg-7.col-xl-6.col-xxl-5.offset-xxl-1
          legend.subscription-form__legend
            span Подпишись и&nbsp;получай информацию о&nbsp;всех новинках и&nbsp;акциях!
        .col-12.col-md-6.col-lg-5.col-xl-6.col-xxl-5
          .subscription-form__input-wrapper
            input(type="email" placeholder="Укажите Вашу почту").input-field
            button.button.button_red.button_small.button_circle.button_circle_small.button_icon.button_icon_only.button_icon_mail-light
