.summary-block
  .summary-block__row
    span.summary-block__name Минимальная сумма заказа:
    |
    |
    span.summary-block__amount 30 000 ₽
  .summary-block__row
    span.summary-block__name Всего:
    |
    |
    span.summary-block__amount 45 000 ₽
  .summary-block__row
    span.summary-block__name Скидка:
    |
    |
    span.summary-block__amount 2 450 ₽
  .summary-block__row
    span.summary-block__name Итого:
    |
    |
    span.summary-block__amount.summary-block__amount_red 99 175 999 ₽
