.timer(data-deadline="2019-10-29T23:59:59")
  .timer__field
    span.timer__digit 0
    span.timer__digit 0
    span.timer__text дня
  .timer__field
    span.timer__digit 0
    span.timer__digit 0
    span.timer__text часов
  .timer__field
    span.timer__digit 0
    span.timer__digit 0
    span.timer__text минут
