.timer
  .timer__field
    span.timer__digit 0
    span.timer__digit 3
    span.timer__text дня
  .timer__field
    span.timer__digit 2
    span.timer__digit 2
    span.timer__text часов
  .timer__field
    span.timer__digit 1
    span.timer__digit 5
    span.timer__text минут
