.top-line
  .container
    .row
      .col-12
        nav.top-line__nav
          ul.top-line__list.top-line_list_left
            li.top-line__list-item
              a(href="#").top-line__link О компании
            li.top-line__list-item
              a(href="#").top-line__link Покупателю
            li.top-line__list-item
              a(href="#").top-line__link Новости
            li.top-line__list-item
              a(href="#").top-line__link Вопрос-ответ
            li.top-line__list-item
              a(href="#").top-line__link Статьи
            li.top-line__list-item
              a(href="#").top-line__link Скачать
          ul.top-line__list.top-line__list_right
            li.top-line__list-item
              a(href="#").top-line__link Регистрация
            li.top-line__list-item
              a(href="#").top-line__link Личный кабинет
