.main_news {
  .sidebar {
    padding-top: 0;
  }

  .news-post__description {
    display: block;
  }

  .subscribe-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .site-pagination {
    margin-bottom: 80px;
  }
}
