.page_single-news {
  .sidebar {
    margin-top: 17px;
  }

  .site-pagination {
    margin-bottom: 80px;
  }

  .catalog-layout {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 991px) {
  .page_single-news {
    .article-footer {
      margin-bottom: 30px;
    }
  }
}
